@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400&display=swap');

@import "tailwindcss";
@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}


.font-cursive {
  font-family: 'Playfair Display', serif;
  /* You can add italic if you want */
  font-style: italic;
}
.html, body{
  background-color: rgb(0, 0, 0);
  font-family: "Outfit", sans-serif;
}
